@use '../../../assets/scss/mixins.scss' as *;

.boards {
	&__msg {
		@include msg;
		text-align: left;
		margin-block-end: 1.5rem;
	}

	&__label {
		margin-right: 1rem;
		@include label;
	}

	&__cards {
		width: 100%;
		max-width: 2000px;
		margin-block-start: 2rem;
	}
}

@media screen and (min-width: 768px) {
	.boards {
		&__cards {
			display: flex;
			flex-wrap: wrap;
			gap: 2rem;
		}
	}
}
