$colors: (
	c_primary: #03a870,
	c_primary_medium: #74e4b5,
	c_primary_light: #dff6ec,
	c_primary_dark: #0a4f56,
	c_primary_gradient:
		linear-gradient(
			180deg,
			rgba(255, 255, 255, 1) 65%,
			rgba(116, 228, 181, 0.26) 100%
		),
	c_primary_gradient_dark:
		linear-gradient(
			110deg,
			rgba(116, 228, 181, 1) 19%,
			rgba(223, 246, 236, 1) 87%
		),
	c_white: #fff,
	c_white_medium: #f3f3f3,
	c_ash_light: #f5f5f575,
	c_ash: #ebebeb,
	c_gray: #606e77,
	c_gray_light: #cdd2d6,
	c_gray_dark: #1e2631,
	c_red: #fb6940,
	c_red_medium: #f1b2a1,
	// c_red_light: #ffe3df,
	// c_yellow: #ffaa05,
	c_to_do_bg: #ffd1dc,
	c_to_do_text: #fc7292,
	c_in_progress_bg: #add8e6,
	c_in_progress_text: #4191ac,
	c_under_review_bg: #f7efc1,
	c_under_review_text: #d4ba24,
	c_blocked_bg: #f5d6ca,
	c_blocked_text: #ffa07a,
	c_done_bg: #aff3af,
	c_done_text: #58b858,
	c_low_bg: #c2f5b3,
	c_low_text: #80c46c,
	c_medium_bg: #f8fdad,
	c_medium_text: #c9d42d,
	c_high_bg: #f7bbb8,
	c_high_text: #f1635e,
);
