$colors: (
	c_primary: #03a870,
	c_primary_medium: #74e4b5,
	c_primary_light: #dff6ec,
	c_primary_dark: #0a4f56,
	c_primary_gradient:
		linear-gradient(
			180deg,
			rgba(255, 255, 255, 1) 65%,
			rgba(116, 228, 181, 0.26) 100%
		),
	c_white: #fff,
	c_ash: #ebebeb,
	c_gray: #606e77,
	c_gray_light: #cdd2d6,
	c_gray_dark: #1e2631,
	c_red: #fb6940,
	c_red_light: #ffe3df,
	c_yellow: #ffaa05,
);
