@use './colors.scss' as *;

@mixin flexbox($justify, $align, $direction) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}

@mixin link {
	outline-color: map-get($colors, c_primary);
	text-decoration: none;
	color: map-get($colors, c_gray);
	transition: color 0.3s;
}

@mixin icon-btn {
	background-color: transparent;
	border: none;
	outline-color: map-get($colors, c_primary);
	cursor: pointer;

	&:hover {
		.svg-light {
			fill: map-get($colors, c_primary_medium);
		}

		.svg-dark {
			fill: map-get($colors, c_primary);
		}
	}
}

@mixin select {
	width: auto;
	cursor: pointer;
	padding: 0.5rem 1rem;
	border: 1px solid map-get($colors, c_ash);
	border-radius: 1rem;
	outline: none;

	&:focus {
		border-color: map-get($colors, c_gray);
	}
}

@mixin label {
	color: map-get($colors, c_gray_light);
}

@mixin msg {
	font-size: 1.4rem;
	color: map-get($colors, c_gray_light);
	text-align: center;
}

@mixin link-card {
	display: block;
	border-radius: 1rem;
	outline-color: map-get($colors, c_primary);
	box-shadow: 9px 8px 24px -12px rgba(205, 210, 214, 1);
	text-decoration: none;
	transition: transform 0.3s;

	&:hover {
		transform: scale(1.02);
	}
}
