@use '../../../../assets/scss/colors.scss' as *;
@use '../../../../assets/scss/mixins.scss' as *;

.board-card {
    @include link-card;
	height: 250px;
	margin-block-end: 2rem;
	padding: 2rem;
	background: map-get($colors, c_primary_gradient_dark);
	color: map-get($colors, c_white);
	transition: transform 0.3s;

	&:hover {
		transform: scale(1.02);
	}

	&__title {
		font-size: 3.5rem;
	}

    &__tasks {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 768px) {
	.board-card {
		height: 300px;
		width: 300px;
		margin: 0;
	}
}
