@use '../../../../assets/scss/colors.scss' as *;
@use '../../../../assets/scss/mixins.scss' as *;

.collaborators {
	display: flex;
	flex-wrap: wrap;
	margin-block-start: 2rem;
	list-style-type: none;
}