@use '../../assets/scss/colors.scss' as colors;
@use '../../assets/scss/mixins.scss' as mixins;

.dropdown {
	position: absolute;
	display: none;
	background-color: map-get(colors.$colors, c_white);
	border: 1px solid map-get(colors.$colors, c_ash);
	border-radius: 1rem;
	text-align: center;
	overflow: hidden;
	z-index: 10;

	&--create {
		top: 0;
		right: calc(-130px - 1rem);
		width: 130px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	&--results {
		top: 26px;
		right: 0;
		left: calc(26px + 1rem);
		border-top: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	&--notifications,
	&--user {
		top: 30px;
		right: 0;
	}

	&--notifications {
		width: 200px;
	}

	&--user {
		width: 150px;
	}

	a {
		@include mixins.link;
		padding: 1rem;
		border-bottom: 1px solid map-get(colors.$colors, c_ash);
		transition: background-color 0.3s;

		&:last-of-type {
			border-bottom: none;
		}

		&:hover {
			background-color: map-get(colors.$colors, c_primary_light);
			color: map-get(colors.$colors, c_primary);
		}
	}
}

.create-active,
.results-active,
.notifications-active,
.user-active {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 992px) {
	.dropdown {
		&--create {
			right: calc(-164px - 2rem);
			width: 164px;
		}

		&--notifications {
			width: 350px;
		}
	}
}
