@use '../../../assets/scss/colors.scss' as *;
@use '../../../assets/scss/mixins.scss' as *;

.header {
	position: fixed;
	top: 0;
	right: 0;
	@include flexbox(space-between, flex-start, row);
	width: calc(100vw - 40px - 2rem);
	padding: 2rem 2rem 1rem;
	background-color: map-get($colors, c_white);
	border-bottom: 1px solid map-get($colors, c_ash);
	z-index: 20;

	&__search {
		position: relative;
		display: flex;
		width: 100%;

		&-btn {
			@include flexbox(center, center, column);
			@include icon-btn;
			margin-right: 1rem;

			&--active {
				.svg-light {
					fill: map-get($colors, c_primary_medium);
				}

				.svg-dark {
					fill: map-get($colors, c_primary);
				}
			}
		}

		&-input {
			width: 100%;
			padding: 0 1rem;
			border: none;
			border-bottom: 1px solid map-get($colors, c_ash);
			outline: none;
			caret-color: map-get($colors, c_gray_light);
			transform: scaleX(0);
			transform-origin: left;
			transition: transform 0.3s;

			&:focus {
				border-color: map-get($colors, c_gray);
			}

			&::placeholder {
				color: map-get($colors, c_gray_light);
			}

			&--active {
				transform: scaleX(1);
			}
		}
	}

	&__controls {
		display: flex;

		&--hidden {
			display: none;
		}

		&-notifications,
		&-user {
			@include flexbox(center, center, column);
			@include icon-btn;
			position: relative;
		}

		&-notifications {
			margin-right: 1rem;

			&-alert {
				position: absolute;
				top: 0;
				right: 6px;
				display: none;
				height: 5px;
				width: 5px;
				background-color: map-get($colors, c_red);
				border-radius: 50%;

				&--active {
					display: block;
				}
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.header {
		width: calc(100vw - 164px - 4rem);
		padding: 2rem;

		&__search {
			width: 80%;
			max-width: 600px;
		}

		&__controls {
			&--hidden {
				display: flex;
			}

			&-notifications {
				margin-right: 2rem;
			}
		}
	}
}
