@use '../../../../assets/scss/colors.scss' as *;
@use '../../../../assets/scss/mixins.scss' as *;

.task-list {
	&__filters {
		&-select {
			margin: 0 1rem 1rem 0;
		}
	}

	&__applied-filters {
		margin-block: 1rem;

		&-list {
			display: flex;
			flex-wrap: wrap;
		}

		&-btn {
			margin-block-end: 0.5rem;
			@include text-btn;
		}
	}

	&__msg {
		@include msg;
	}
}
