@use '../../../../assets/scss/mixins.scss' as *;

.task-list {
	&__filter {
		&:first-of-type {
			margin-block-end: 1.5rem;
		}
	}

	&__filters {
		margin-block-end: 2rem;
	}

	&__label {
		margin-right: 1rem;
		@include label;
	}

	&__msg {
		@include msg;
	}
}

@media screen and (min-width: 576px) {
	.task-list {
		&__filters {
			display: flex;
		}

		&__filter {
			&:first-of-type {
				margin-block-end: 0;
				margin-right: 2.5rem;
			}
		}
	}
}
