@use '../../../../assets/scss/colors.scss' as *;
@use '../../../../assets/scss/mixins.scss' as *;

.task__card {
	@include link-card;
	position: relative;
	max-width: 700px;
	margin-block: 1rem;
	padding: 1rem 2rem;
	background-color: map-get($colors, c_white_medium);
	border: 1px solid transparent;
	border-left: none;
	color: map-get($colors, c_gray);
	overflow: hidden;
	transition: transform 0.3s, background-color 0.3s, border-color 0.3s;

	&:hover {
		background-color: map-get($colors, c_white);
		border-color: map-get($colors, c_white_medium);
		transform: scale(1.02);
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 5px;
		content: '';
	}

	&--low {
		&::before {
			background-color: map-get($colors, c_primary);
		}
	}

	&--medium {
		&::before {
			background-color: map-get($colors, c_yellow);
		}
	}

	&--high {
		&::before {
			background-color: map-get($colors, c_red);
		}
	}

	&-header {
		display: flex;
		font-size: 1.4rem;

		&--id {
			margin-right: 0.5rem;
			padding-right: 0.5rem;
			border-right: 1px solid map-get($colors, c_gray);
			font-weight: 400;
		}
	}

	&-title {
		margin-block-end: 1rem;
		font-size: 1.5rem;
	}

	&-info {
		font-size: 1.2rem;
		line-height: 1.5;

		span {
			font-weight: bold;
		}
	}
}

@media screen and (min-width: 992px) {
	.task__card {
		&-info {
			font-size: 1.3rem;
		}
	}
}
