@use '../../../../assets/scss/colors.scss' as *;
@use '../../../../assets/scss/mixins.scss' as *;

.task-list {
	&__filters {
		&-select {
			margin: 0 1rem 1rem 0;
		}
	}

	&__applied-filters {
		margin-block: 1rem;

		&-list {
			display: flex;
			flex-wrap: wrap;
		}

		&-btn {
			margin-block-end: .5rem;
			background: transparent;
			border: none;
			outline-color: transparent;
			font-size: 1.4rem;
			color: map-get($colors, c_gray_light);
			cursor: pointer;
			transition: color 0.3s;

			&:hover {
				color: map-get($colors, c_primary);
			}

			&:focus {
				outline-color: map-get($colors, c_primary);
				color: map-get($colors, c_primary);
			}
		}
	}

	&__msg {
		@include msg;
	}
}
