@use './assets/scss/colors.scss' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body,
input,
input::placeholder,
textarea,
select,
button {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.4rem;
	color: map-get($colors, c_gray);
}

svg {
	pointer-events: none;

	path {
		transition: fill 0.3s;
	}
}

@media screen and (min-width: 992px) {
	body,
	input,
	input::placeholder,
	textarea,
	select,
	button {
		font-family: 'Noto Sans', sans-serif;
		font-size: 1.6rem;
	}
}
