@use '../../../assets/scss/colors.scss' as *;

.task-list {
	&__priority {
		// margin-block-end: 1rem;
		font-size: 1.5rem;
		color: map-get($colors, c_gray_light);
	}

	// &__container {

	// }

	// &__item {
	// 	display: block;
	// 	max-width: 700px;
	// 	padding: 1rem 2rem;
	// 	border-radius: 1rem;
	// 	text-decoration: none;
	// 	transition: transform 0.3s;

	// 	&:hover {
	// 		transform: scale(1.02);
	// 	}

	// 	&--low {
	// 		background-color: map-get($colors, c_green_light);
	// 	}
	// }
}

@media screen and (min-width: 992px) {
	.task-list {
		&__priority {
			font-size: 1.7rem;
		}
	}
}
