@use '../../../../assets/scss/colors.scss' as *;

.search-result {
	text-align: left;

	&__title {
		margin-block-end: 1rem;
		font-size: 1.5rem;
		font-weight: bold;
	}

	&__info {
		display: flex;
		font-size: 1.2rem;

		&-assignee {
			padding-right: 0.5rem;
			margin-right: 0.5rem;
			border-right: 1px solid map-get($colors, c_gray);
		}
	}

	&:hover {
		.search-result__info-assignee {
			border-color: map-get($colors, c_primary);
		}
	}
}
