@use '../../../assets/scss/colors.scss' as colors;
@use '../../../assets/scss/mixins.scss' as mixins;

.nav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: map-get(colors.$colors, c_white);
	border-right: 1px solid map-get(colors.$colors, c_ash);
    z-index: 20;

	&__logo {
		display: none;
	}

	&__links {
		&-heading {
			display: none;
			font-size: 1.5rem;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: map-get(colors.$colors, c_gray_light);
		}
	}

	&__link {
		@include mixins.link;
		@include mixins.flexbox(flex-start, flex-start, row);
		width: 100%;
		padding: 1rem;
		margin-block: 1.5rem;
		border-radius: 1rem;
		cursor: pointer;

		&:hover {
			color: map-get(colors.$colors, c_primary);
		}

		&--active {
			background-color: map-get(colors.$colors, c_primary_light);
			color: map-get(colors.$colors, c_primary);

			.svg-light {
				fill: map-get(colors.$colors, c_primary_medium);
			}

			.svg-dark {
				fill: map-get(colors.$colors, c_primary);
			}
		}

		&--create {
			position: relative;
		}

		&-title {
			display: none;
			margin-left: 1rem;
			pointer-events: none;
		}
	}
}

@media screen and (min-width: 992px) {
	.nav {
		padding: 2rem;

		&__logo {
			display: block;
		}

		&__links {
			margin-top: 2rem;

			&-heading {
				display: block;
			}
		}

		&__link {
			&-title {
				display: block;
			}
		}
	}
}
